

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&family=Josefin+Sans&display=swap');

*{
  margin:0 auto;
  padding:5px;
  display: border-box;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'Josefin Sans', sans-serif;
}

.list {
  float: right;
  height: 0.4px;
}
.clearfix {
  clear: both;
}
.list li {
  list-style-type: none;
  padding: 20px;
  display: inline-block;
}
.hero {
  background-image: url("../images/ezgif-2-b583d0ce77.png");
  height: 80vh;
}
ul li:hover {
  color: blue;
}
.lg {
  width: 10cm;
  height: 1cm;
  
}
.qr {
  color: #496bf2;
  float: right;
  padding: 70px;
  margin: 70px;
  clear: both;
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 36px;
}
.tc {
  float: right;
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 20px;
}
.bt {
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 15px 30px;
  margin: 6px 4px;
  float: left;
  background-color: #496bf2;
  border-color:#496bf2;
  border-radius: 5px;
  color:#fff;
  font-size: 1.2rem;
}

.ab {
  float: right;
}
.ba {
  position: absolute;
  top: 80%;
  left: 62%;
  padding: 15px 40px ;
  margin: 6px 4px;
  background-color: aqua;
  border-color: aqua;
  border-radius: 5px;
  color:#fff;
  font-size: 1.5rem;
}
.edit {
  display: flex;
}
.edit img{
  display: block;
}
p{
  padding:6px;
}
.top {
  position: absolute;
  top: 40%;
  left: 50%;
  float: right;
}
.cha {
  width: 33.3%;
}
.lnp {
  float: left;
}
.doc {
  float: left;
  margin-right: 40px;
  width: 33.3%;
}
.patients {
  float: left;
}

.testimonials-avatar img:not(:nth-child(2)) {
  width: 100px;
}

.testimonials-avatar img:nth-child(2) {
  width: 150px;
}

.form {
  background-image: url("../images/ezgif-2-81a50240fb.png");
  height: 90vh;
}
input {
  width: 40%;
  padding: 30px 40px;
  margin: 10px;
  border: none;
}
textarea {
  width: 40%;
  padding: 40px 60px;
  border: none;
  margin: 10px;
}
.abt {
  color: #2dd6c1;
}
.s {
  color: #496bf2;
}
.t {
  color: #496bf2;
}
.lrn {
  color: #496bf2;
  text-align: center;
}
.cntr h2 {
  text-align: center;
}

.client-testimonials figure:not(:nth-child(2)) img {
  width: 100px;
  text-align: center;
}

.client-testimonials figure:nth-child(2) img {
  width: 150px;
  text-align: center;
}

.sbt {
  background-color: #496bf2;
  position: absolute;
  left: 2%;
  padding: 15px 60px;
  border-radius: 5px;
  border-color: #496bf2;
  margin-left: 10px;
  color: #fff;
  font-size: 1.5rem;
}
.rme {
  background-color: #496bf2;
  border-radius: 5px;
  border-color: #496bf2;
  padding: 15px 40px;
  margin: 6px 4px;
  color:#fff;
  font-size: 1.5rem;
}

.socials {
  width: 25%;
  display: inline;
  
  /* float: left; */
}
.ql {
  width: 25%;
}

.links {
  float: left;
  width: 25%;
  text-decoration: none;
}
.department {
  float: left;
  width: 25%;
  text-decoration: none;
}
.end{
  display: flex;
}
.lg {
  width: 25%;
}
.links {
  width: 25%;
}

.departs {
  width: 25%;
}
.contacts {
  width: 25%;
}
.contacts img{
  float:left;
}
.contacts p{
  float:right; 
  margin-left: ;
}
.dot2 {
  height: 5px;
  width: 5px;
  border: 5px solid #2dd601;
  border-radius: 50%;
  margin: 20px;
  background-color: #2dd601;
  display: inline-block;
  position: relative;
  left: 40%;
}
.dot {
  height: 5px;
  width: 5px;
  border: 5px solid #496bf2;
  border-radius: 50%;
  margin: 20px;
  background-color: #496bf2;
  display: inline-block;
  position: relative;

  left: 40%;
}

.km {
  width: 40px;
}
.unordered li {
  list-style-type: none;
}
.testmonials {
  width: 50%;
  margin: 0 auto;
}
.thousands {
  text-align: center;
}
.testimonials-avatar {
  position: relative;
  left: 40%;
}
.knee {
  text-align: center;
  margin:0 auto;
  padding: 20px;
}
.hear {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 60px;
  margin-bottom: 30px;
}
.gram {
  width: 10%;
}
.lst {
  width:10%;
}
h1{
  color:#496bf2;
  font-size:3rem;
  margin:20px 0;
}
.lst2{
  width:10%;
}
.btmlogo {
  width: 30%;
}
.quote{
  width:10px;
}
p{
  font-size:1.2rem;
}
.quality{
  width: 30%;
  padding:2px;
  box-shadow: 0px 0px 5px grey;
  margin-top:50px;
  margin-left:50px;
  text-align: center;
}
.emerge{
  width: 30%;
  padding:2px;
  box-shadow: 0px 0px 5px grey;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}
.hours{
  width: 30%;
  padding:2px;
  box-shadow: 0px 0px 5px grey;
  margin-top: 50px;
  margin-left:50px;
  text-align: center;
}
.edit h2{
  color:#496bf2;
}

.top h1{
  font-size: 2rem;
}
p{
  font-size:20px ;
  line-height:30px ;
  text-align:center;
}
.testimony{
  text-align: center;
  margin:30px 380px;
}
.love{
  color: #2dd6c1;
}
.you{
  color:#496bf2;
}
h2{
  font-size: 3rem;
}
.edit h3{
  color:#496bf2;
  font-size: 1.5rem;
  }
  /* .m{ */
    margin-top: 45px;
    margin-left:-40px ; 
  }
  /* .email{ */
    margin-top: 40px;
    margin-left: 40px; 
  }
  /* .kibera{ */
    margin-left: -50px;
  }
  .contactinfo{
    display:block;
    list-style-type: none;
  }
  .contact ul{
    display:block;
    list-style-type: none;
    
    
  }